<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Chat.ChatLoginActivity"
            android:exported="true" />
        <activity
            android:name=".Chat.MessageActivity"
            android:exported="true" />
        <activity
            android:name=".Chat.ChatMainActivity"
            android:exported="true" />
        <activity
            android:name=".Chat.ChatRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Chat.StartActivity"
            android:exported="true" />
        <activity android:name=".Farmers.SponsorExportActivity" />
        <activity
            android:name=".Customers.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Farmers.SponsorRegistrationActivity" />
        <activity android:name=".Farmers.SponsorProductCategoryActivity" />
        <activity android:name=".Farmers.SponsorLoginActivity" />
        <activity android:name=".Farmers.SponsorHomeActivity" />
        <activity android:name=".Farmers.SponsorAddNewProductActivity" />
        <activity android:name=".Customers.SettingsActivity" />
        <activity android:name=".Customers.SearchProductsActivity" />
        <activity android:name=".Customers.ResetPasswordActivity" />
        <activity android:name=".Customers.RegisterActivity" />
        <activity android:name=".Customers.ProductDetailsActivity" />
        <activity android:name=".Customers.LoginActivity" />
        <activity android:name=".Customers.ConfirmFinalOrderActivity" />
        <activity android:name=".Customers.CartActivity" />
        <activity android:name=".MpesaActivity" />
        <activity android:name=".SupportCenter.SupportUserProductsActivity" />
        <activity android:name=".SupportCenter.SupportNewOrdersActivity" />
        <activity android:name=".SupportCenter.SupportMaintainProductsActivity" />
        <activity android:name=".SupportCenter.SupportHomeActivity" />
        <activity android:name=".SupportCenter.SupportCheckNewProducts" />
        <activity android:name=".Customers.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>